h1 {
    color:black;
    font-size: 48px;
}

body *{
    font-size: 40px;
    margin: 0;
}

#blue {
    color: blue;
}

#yellow {
    color: yellow;
}

.blue {
    color: blue;
}

.fontbold {
    font-size: 50px;
    font-weight: bold;
}
[class="blue"] {
    color: blue;
}

[href="google.com"] {
    color: chartreuse;
}

.l1,
.l2 {
background: red;
}

body section .monkey {
    text-decoration: underline;
}

.monkey {
    margin: 50px;
    font-size:200px;
    color: black;
    width: 200px;
}

@media screen and (max-width: 600px){
    h1 {
        font-size: 14px;
    }
}